$olive: #334022
$cream: #FDE8D6
$letra: "Libre Baskerville", serif

*
	margin: 0
	padding: 0
	color: $olive
	font-family: $letra
	font-size: 14px
	box-sizing: border-box

body
	background-color: $olive
	display: flex
	justify-content: center
	.wrapper
		max-width: 720px
		margin: 15px
		background-color: $cream
		border-radius: 20px

header
	nav
		display: flex
		justify-content: center
		gap: 10px
		a
			text-decoration: none
			text-align: center
			background-color: $olive
			color: $cream
			text-transform: uppercase
			letter-spacing: 10px
			padding: 15px 8px
			border-radius: 20px

main
	.title
		margin-top: 36px
		text-align: center
		color: $olive
		h1
			text-transform: uppercase
			strong
				display: block
				font-size: 110px
			span
				display: block
				font-size: 48px
				margin-top: -25px
		h2
			margin-top: 10px

.step
	margin: 36px 5vw
	display: flex
	justify-content: flex-start
	align-items: center
	.left
		text-transform: uppercase
		font-weight: 700
		width: 30vw
		margin-right: 20px
		padding-right: 10px
		.name
			h3
				font-size: 24px
	.right
		position: relative
		display: flex
		justify-content: center
		align-items: flex-start
		flex-direction: column
		gap: 20px
		.sub
			display: flex
			justify-content: flex-start
			align-items: center
			// max-width: 62.5vw
			// min-width: 45vw
			img
				display: block
			div
				margin-left: 15px
			span
				font-weight: 700
				text-transform: uppercase
	.union
		&::before
			content: ""
			display: block
			position: absolute
			width: 12px
			height: 80px
			top: calc( 50% - 40px )
			left: -12.5px
			border-top: 1px solid $olive
			border-left: 1px solid $olive
			border-bottom: 1px solid $olive

.icon
	width: 50px

.rest
	position: relative
	display: flex
	justify-content: center
	align-items: center
	.center
		position: relative
		width: 34vw
		padding: 15px
		border-radius: 20px
		border-style: dashed
		border-width: 2px
		border-color: $olive
		text-align: center
		span
			text-transform: uppercase
			font-weight: 700
			font-size: 16px
			text-align: center
	.dashes
		display: block
		width: calc( 33vw - 15px )
		height: 2px
		border-top: 2px dashed $olive