$olive: #334022
$cream: #FDE8D6
$letra: "Libre Baskerville", serif

*
	margin: 0
	padding: 0
	color: $olive
	font-family: $letra
	font-size: 14px
	box-sizing: content-box

body
	background-color: $olive
	.wrapper
		margin: 15px
		background-color: $cream
		border-radius: 20px

header
	nav
		display: flex
		justify-content: center
		gap: 10px
		a
			text-decoration: none
			text-align: center
			background-color: $olive
			color: $cream
			text-transform: uppercase
			letter-spacing: 10px
			padding: 15px 8px
			border-radius: 20px

main
	width: 100%
	max-width: 720px
	.title
		margin-top: 36px
		text-align: center
		color: $olive
		h1
			text-transform: uppercase
			strong
				display: block
				font-size: 110px
			span
				display: block
				font-size: 48px
				margin-top: -25px
		h2
			margin-top: 10px

.step
	margin: 36px 5vw
	display: flex
	justify-content: space-between
	align-items: center
	.left
		.name
			h3
				font-size: 24px
				font-weight: 700
	.right
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		gap: 20px
		.sub
			display: flex
			justify-content: flex-start
			align-items: center
			width: 62.5vw
			img
				display: block
			div
				margin-left: 15px
			span
				font-weight: 700
				text-transform: uppercase

.icon
	width: 50px